<div class="cadastro-container">
  <h1>Cadastre-se</h1>
  <p>Junte-se e simplifique a gestão dos seus campeonatos!</p>

  <form id="formulario-container" #form="ngForm" (ngSubmit)="onSubmit()">
    <input placeholder="Nome completo" type="text" id="nome" name="nome" [(ngModel)]="nome" required>

    <input placeholder="E-mail" type="email" id="email" name="email" [(ngModel)]="email" required>

    <input placeholder="Senha" type="password" id="senha" name="senha" [(ngModel)]="senha" required>

    <input placeholder="Confirme a senha" type="password" id="confirmeSenha" name="confirmeSenha" [(ngModel)]="confirmeSenha" required>

    <button type="submit">Cadastrar</button>
  </form>
  
  <p>Já possui uma conta? <strong><a href="/login">Entre</a></strong></p>
</div>
