<div class="relatorio-container">
    <div class="content">
      <div *ngIf="loading" class="loading">Carregando...</div>
      <div *ngIf="error" class="error">{{ error }}</div>
  
      <div class="campeonato-grid">
        <select id="campeonato" (change)="onCampeonatoChange($event)">
          <option value="" disabled selected>Selecione um campeonato</option>
          <option *ngFor="let campeonato of campeonatos" [value]="campeonato.id">
            {{ campeonato.name }}
          </option>
        </select>
      </div>
  
      <section *ngIf="selectedCampeonato && classification.length > 0" id="grid-dados">
        <div class="ranking-times">
          <h2>Classificação - {{ selectedCampeonato.name }}</h2>
          <table id="tabela-times">
            <thead>
              <tr>
                <th>#</th>
                <th>Time</th>
                <th>Pontos</th>
                <th>%</th>
                <th>Jogos</th>
                <th>Vitórias</th>
                <th>Empates</th>
                <th>Derrotas</th>
                <th>GP</th>
                <th>GC</th>
                <th>SG</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let time of classification; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ time.teamName }}</td>
                <td>{{ time.points }}</td>
                <td>{{ calculatePercentage(time.points, time.matchesPlayed) }}</td>
                <td>{{ time.matchesPlayed }}</td>
                <td>{{ time.victories }}</td>
                <td>{{ time.draws }}</td>
                <td>{{ time.defeats }}</td>
                <td>{{ time.goalsFor }}</td>
                <td>{{ time.goalsAgainst }}</td>
                <td>{{ time.goalDifference }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>