<div class="relatorio-container">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="logo">LOGO</div>
        <ul class="menu">
          <li>Dashboard</li>
          <li>Times e Atletas</li>
          <li>Campeonatos</li>
          <li>Jogos</li>
          <li>Súmula</li>
          <li>Classificação</li>
          <li>Relatórios</li>
        </ul>
    </div>
    
    <!-- Main Content -->
    <div class="content">
      <!-- Header -->
      <div class="header">
        <button class="menu-button">☰</button>
        <div class="profile-icon">👤</div>
    </div>

    <!-- Grid Layout -->
    <div class="relatorio-grid">
      <!-- Label relatório -->
      <div class="relatorio">
        <h2>Relatório Geral</h2>
        <button id="menu-button">☰</button>
      </div>
    </div>
</div>
