<div class="relatorio-container">
  <!-- Main Content -->
  <div class="content">
    <!-- Grid Layout -->
    <div class="relatorio-grid">
      <!-- Label relatório -->
      <div class="relatorio">
        <h2>Relatório Geral</h2>
        <button id="menu-button" (click)="toggleForm()">Visualizar</button>
      </div>

      <!-- Formulário -->
      <div *ngIf="formVisible" class="form-container">
        <form>
          <label for="campeonato">Selecione o campeonato:</label>
          <select id="campeonato">
            <option value="" disabled selected>Selecione o campeonato</option>
            <option *ngFor="let campeonato of campeonatos" [value]="campeonato.id">{{ campeonato.nome }}</option>
          </select>

          <label for="etapa">Selecione a etapa:</label>
          <select id="etapa">
            <option value="" disabled selected>Selecione a etapa</option>
            <option *ngFor="let etapa of etapas" [value]="etapa.id">{{ etapa.nome }}</option>
          </select>

          <label for="jogo">Selecione o jogo:</label>
          <select id="jogo">
            <option value="" disabled selected>Selecione o jogo</option>
            <option *ngFor="let jogo of jogos" [value]="jogo.id">{{ jogo.nome }}</option>
          </select>

          <!-- Checkboxes -->
          <div class="checkbox-container">
            <label for="sumula">
              <input type="checkbox" id="sumula"> Trazer súmula(s)
            </label>
            <label for="classificacao">
              <input type="checkbox" id="classificacao"> Trazer classificação
            </label>
          </div>

          <!-- Botões -->
          <div class="button-container">
            <button type="button" class="btn visualizar" (click)="openModal()">Visualizar</button>
            <button type="button" class="btn cancelar" (click)="toggleForm()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="isModalVisible" class="modal-overlay">
    <div class="modal-box">
      <h2>Detalhes do Relatório</h2>
      <p>Conteúdo do relatório será exibido aqui...</p>
      <button class="btn fechar" (click)="closeModal()">Fechar</button>
    </div>
  </div>
</div>
