<div class="dashboard-container">
  <!-- Conteúdo Principal -->
  <div class="content">
      <h1>Campeonatos</h1>
      <div class="buttons-container">
          <button class="btn-cadastrar">Cadastrar</button>
          <button class="btn-inscrever">Inscrever</button>
      </div>

      <div class="campeonatos-container">
          <div *ngFor="let campeonato of campeonatos; let i = index" class="campeonato-card">
              <div class="campeonato-header" (click)="toggleTimes(i)">
                  <span class="campeonato-nome">{{ campeonato.nome }}</span>
                  <span class="status {{ campeonato.status | lowercase }}">{{ campeonato.status }}</span>
              </div>
              
              <div class="info">
                  <span>📍 {{ campeonato.local }}</span>
                  <span>📅 {{ campeonato.data }}</span>
              </div>

              <!-- Times Participantes -->
              <div *ngIf="campeonato.timesVisiveis" class="times-participantes">
                  <div class="times-header">
                      <h3>Times participantes</h3>
                      <div class="dropdown" style="margin-left: auto;">
                          <button class="dropbtn">Opções</button>
                          <div class="dropdown-content">
                              <a href="#">Editar</a>
                              <a href="#">Remover</a>
                              <a href="#">Status</a>
                          </div>
                      </div>
                  </div>
                  <div class="grid-times">
                      <div *ngFor="let time of campeonato.times" class="time-card">
                          <div class="time-imagem"></div>
                          <span class="time-nome">{{ time.nome }}</span>
                          <button (click)="confirmarExclusao(campeonato, time)" class="excluir-btn">
                              🗑️
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> 
</div>
