<div class="container">
    <div class="aside-content">
        <!-- Conteúdo Principal -->
        <main class="content">
            <!-- Botão de Cadastrar -->
            <button class="register-btn" (click)="openModal('Cadastrar Time')">CADASTRAR</button>

            <!-- Cards de Times -->
            <div class="card" *ngFor="let team of teamsWithAthletes">
                <div class="shield-team">
                    <div class="shield"></div>
                    <h1 class="team-name">{{ team.name }}</h1>
                </div>
                <div class="divider"></div>
                <div class="arrow-options">
                    <!-- Botão de Opções -->
                    <button class="option-btn" (click)="toggleOptionsMenu($event)">Opções</button>
                    <div class="options-menu hidden">
                        <button (click)="openModal('Editar Time')">Editar</button>
                        <button (click)="openRemoveModal(team)">Remover</button>
                    </div>
                    <span class="material-symbols-outlined arrow-icon" (click)="toggleExpand(team)">
                        arrow_back_ios
                    </span>
                </div>
                <div class="expandable" [class.expanded]="team.isExpanded">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Número</th>
                                <th>Nome</th>
                                <th>Posição</th>
                                <th>Altura</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let athlete of team.athletes">
                                <td>{{ athlete.number }}</td>
                                <td>{{ athlete.name }}</td>
                                <td>{{ athlete.position }}</td>
                                <td>{{ athlete.height }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>

    <!-- Modal de Cadastro -->
    <div class="modal" *ngIf="isModalOpen">
        <div class="modal-content">
            <div class="modal-header">
                <div class="btnClose-label">
                    <span class="close-btn" (click)="closeModal()">&times;</span>
                    <h2>{{ modalTitle }}</h2>
                </div>
                <button class="save-btn" (click)="saveTeam()">Salvar</button>
            </div>

            <form class="modal-body">
                <input id="team-name" type="text" [(ngModel)]="newTeam.name" name="teamName" maxlength="20"
                    placeholder="Nome do Time" />
                <input id="coach-name" type="text" [(ngModel)]="newTeam.coachName" name="coachName" maxlength="20"
                    placeholder="Nome do Técnico" />
                <input id="player-count" type="number" [(ngModel)]="newTeam.playerCount" name="playerCount" max="20"
                    maxlength="2" placeholder="Quantidade de Jogadores" (change)="generatePlayerFields()" />
            </form>

            <div *ngIf="players.length > 0" class="modal-table">
                <table class="player-table">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Nome</th>
                            <th>Posição</th>
                            <th>Altura</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let player of players; let i = index">
                            <td>
                                <input type="number" [(ngModel)]="player.number" [name]="'playerNumber' + i" max="99"
                                    placeholder="Número" />
                            </td>
                            <td>
                                <input type="text" [(ngModel)]="player.name" [name]="'playerName' + i" maxlength="50"
                                    placeholder="Nome" />
                            </td>
                            <td>
                                <input type="text" [(ngModel)]="player.position" [name]="'playerPosition' + i"
                                    maxlength="50" placeholder="Posição" />
                            </td>
                            <td>
                                <input type="text" [(ngModel)]="player.height" [name]="'playerHeight' + i" maxlength="4"
                                    placeholder="Altura" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal de Confirmação -->
    <div class="confirmation-modal" *ngIf="isRemoveModalOpen">
        <div class="modal-remove-content">
            <h2>Remover time</h2>
            <p>Não será mais possível recuperar o que for removido. Você tem certeza que deseja remover este time?</p>
            <div class="modal-actions">
                <button class="cancel-btn" (click)="closeRemoveModal()">Cancelar</button>
                <button class="remove-btn" (click)="confirmRemove()">Remover</button>
            </div>
        </div>
    </div>
</div>
