<!-- Conteúdo Principal -->
<div class="content">
  <h1>Jogos</h1>

  <!-- Seleção de Campeonato -->
  <div class="select-campeonato">
    <label for="select-campeonato">Selecione um Campeonato:</label>
    <select id="select-campeonato" [(ngModel)]="selectedCampeonato">
      <option value="" disabled selected>Selecione um Campeonato</option>
      <option *ngFor="let campeonato of campeonatos" [value]="campeonato.id">
        {{ campeonato.nome }}
      </option>
    </select>
  </div>

  <!-- Mensagem de Seleção -->
  <div *ngIf="!selectedCampeonato" class="mensagem-selecao">
    <div class="icone">
      <span>?</span>
    </div>
    <p>Selecione um campeonato para visualizar os jogos!</p>
  </div>
</div>
